/* Youtubepage.css */

.card {
    border: 1px solid #ddd;
    padding: 20px;
    transition: transform 0.3s ease;
    height: 350px;
  }
  
  .card:hover,
  .card.shake {
    transform: scale(1.1);
  }
  
  button {
    margin-top: 10px;
  }